<div ng-controller="HomeController as home">
    <div layout="row" layout-align="center center">

        <img src="./image/me.png" class="md-avatar" alt="Zain Mustafa" style="border-radius: 50%;"/>

        <div layout="column" style="margin-left: 30px">
            <p style="line-height: 0.5">Zain Mustafa</p>

            <p style="line-height: 0.5">Karachi</p>

            <p style="line-height: 0.5">zmdhillo@gmail.com</p>
        </div>

    </div>
    <div layout="row" layout-align="center center" style="margin-top: 30px; margin-left: 10px;" >
        <a href="https://www.facebook.com/zmdhillo" target="_blank"><img src="./image/facebook.svg" style="height: 40px; width: 50px;margin-left: 4px;"></a>
        <a href="https://www.twitter.com/zmdhillo" target="_blank"><img src="./image/twitter_alt.svg" style="height: 40px; width: 50px;margin-left: 5px;"></a>
        <a href="https://www.linkedin.com/in/zmdhillo" target="_blank"><img src="./image/linkedin.svg" style="height: 40px; width: 50px;margin-left: 4px;"></a>
        <a href="https://github.com/zmdhillo" target="_blank"><img src="./image/github_alt.svg" style="height: 40px; width: 50px;"></a>
    </div>
</div>
